<h1 class="text-center">My Events</h1>
<ul>
  <% if @events != nil %>
    <% @events.each do |f| %>
      <li><%= f.description %></li>
    <% end %>
  <% else %>
    <li>You have not created an event!</li>
  <% end %>
</ul>
